@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@100&display=swap");

// Mobile screen breakpoints
// $small-mobile: 320px;
// $mid-mobile: 375px;
// $large-mobile: 425px;
// $tablet: 768px;
// $laptop: 1024px;
// $large-screen: 1440px;

// theme colors
// $rich-black: #08090a;
// $medium-aquamarine: #80d39b;
// $maroon: #800e13;
// $light-coral: #ef6f6c;
// $snow: #ada8b6;
// $white: #fff;

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
  }
}
